
admin/node_modules
admin/package-lock.json
admin/yarn.lock




# for app part

app/node_modules
admin/dist
app/package-lock.json
app/yarn.lock

frontend/node_modules

admin/src/config.env
app/src/config.env